bin/.local/share/*
bin/.local/state/*
bin/.local/links/*
nvim/.config/nvim/plugin/*
rust-analyzer

# python global stuff
bin/.local/**/pip*
bin/.local/lib/python*
bin/.local/bin/pylsp*
bin/.local/bin/nodeenv

# personal builds
bin/.local/bin/dougu
bin/.local/bin/swaybg-randomizer
