configuration {
    modi: "window,run,ssh,combi,drun";
    combi-modi: "window,drun";
    terminal: "/usr/bin/alacritty";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "theme.rasi"
